table {
  width: 95%;
  margin: auto;
}
.mat-header-cell,
.mat-cell {
  flex: 0 1;
}
.mat-column-acciones {
  flex: 0 0;

  padding-right: 0;
}
.mat-sort-header {
  text-align: center !important;
  font-weight: bold;
  color: #212529;
}
.text-bold {
  font-weight: bold;
  color: #212529;
}

.table {
  width: 100%;
  margin: auto 0;
}
.table * {
  text-align: center;
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
